<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      <!--Body content-->

      <ul class="chats">
        <!-- <li ng-repeat="chat in chats | filter:query | orderBy:orderProp" class="thumbnail phone-listing">-->
        <li ng-repeat="chat in chats">
          <a href="#/chat/{{chat.id}}"><img src="//placehold.it/50x50&text=chat"></a>
          <a href="#/chat/{{chat.id}}">{{chat.name}}</a>
          <p>{{chat.topic}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>
